.app-header {
  height: 64px;
  padding: 0 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;

  position: sticky;
  top: 0;
  z-index: 100;
}

/* Left */
.app-title {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
}

/* Right */
.header-actions {
  display: flex;
  gap: 28px;
}

.nav-link {
  cursor: pointer;
  font-size: 14px;
  opacity: 0.9;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link.active {
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}
